:root {
  --checkout-bgc2: #f1f0f0;
}

.orderGuidelines {
  position: absolute;
  left: 2vw;
  width: 63vw;
  top: 3vh;
  border-radius: 25px;
  padding: 10px 10px;
  font-size: 20px;
}

.checkoutCart {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 8vh;
  width: 100%;
}

.bg {
  background-color: var(--checkout-bgc2);
}

.containerSize {
  position: absolute;
  top: 3vh;
  border-radius: 25px;
  background-color: var(--checkout-bgc2);
}

.leftContainer {
  width: 63vw;
  left: 2vw;
  top: 43vh;
  height: auto;
}

.rightContainer {
  width: 30vw;
  right: 2vw;
  position: fixed;
  margin-top: 8vh;
  height: 85vh;
}

.amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount .quantity {
  border: 1px solid black;
  padding: 8px 18px;
  margin: 0px 10px;
}
.fas.fa-trash {
  margin-left: 10px;
  cursor: pointer;
}

.increment i {
  margin-left: 50px;
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;
}

button {
  cursor: pointer;
  width: 100px;
}

.cart {
  margin-left: 10px;
}

.CustomerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.CustomerInfo input {
  width: 50%;
  margin-bottom: 20px;
}

.payment {
  display: flex;
  flex-direction: row;
}

.payWith {
  background-color: white;
  display: flex;
  border: 1px solid black;
  border-style: outset;
  border-radius: 40px;
  align-items: center;
  padding: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.payWith.active {
  background-color: rgb(185, 185, 185);
  display: flex;
  border: 1px solid black;
  border-style: inset;
  border-radius: 40px;
  align-items: center;
  padding: 20px;
  margin: 0px 10px;
  cursor: pointer;
}
