.menu {
  text-align: center;
  background-color: #262626;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);

  --featured-img: linear-gradient(180deg,#fff,#262626);
  background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.66),#262626),var(--featured-img);

}

.banner{
  width: 100vw;
  height: 80vh;
  position: relative;
  display: flex;
align-items: center;
justify-content: center;
}

.banner-img {
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1109281453696626800/1139624338929229854/30753154162_4687143c44_b.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: right;

  filter: brightness(0.5) blur(5px);
  z-index: 1;
}

.banner-content {
  position: absolute;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.date-container h4 {
  margin-right: 20px;
  color: white;
}

.date-container .date-picker {
  font-size: calc(10px + 2vmin);
}

.menu-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-image {
  width: 100%;
  height: calc(250px);
  
}

.item-content {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;

  border-radius: 80px;
  width: 30vw;
  margin: 10px 5px;
  justify-content: space-around;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
}

.item-content:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  cursor: pointer;
}

.item-container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item-container3 button {
  height: 30px;
}



@media only screen and (max-width: 960px) {
  .item-content {
    flex-direction: column;
    align-items: center;
  }

  .item-container3 {
    flex-direction: column;
    align-items: center;
  }

  .item-container3 button {
    margin-top: 10px;
  }
}


.itemBox{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemBox-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.ugly {
  color: white;
  margin: 0px 0px;
}

.ugly2 {
  color: white;
  width: 80vw;
}