:root {
  --background-color: white;
  --second-background-color: rgba(251, 251, 253, 255);
  --text-color: black;
}

.menu {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 80px;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.sectionHero {
  width: 100vw;
  height: 30vh;
  background-color: black;
  color: white;

  position: absolute;
  left: 0;
  top: -11vh;

  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczOkcpm-p1i5Dftp84vxzBeFi2Fq8iZgopBFJe3hgd2zbA25hpUVKZkWnlQnBUn4ZlTGot4EC8vObm9AWmUc8jXmN7BVQwlyRXNwdDkgA3gWjKB04-Q=w2400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionHero h2 {
  position: relative;
  top: 50px;
  font-size: 70px;
  letter-spacing: 3px;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  top: 10vh;
}

.sectionTitle h2 {
  position: absolute;
}

.sectionTitle .item-container {
  margin-top: 50px;
  margin-left: 2.5vw;
  width: 30vw;
  height: 60vh;

  position: relative;
}

.item-img {
  width: 20vw;
  max-height: 200px;
  border-radius: 25px;
}

.submit-order {
  color: white;
  background-color: rgb(255, 72, 72);
  border-radius: 25px;
  width: 150px;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 15px;

  position: absolute;
  bottom: 10%;
  left: 25%;
}

.loadingPage {
  width: 100vw;
  height: 90vh;
  font-size: 100px;
}
