:root {
  --background-color: white;
  --second-background-color: rgba(251, 251, 253, 255);
  --primary-color: rgb(255, 110, 110);
  --secondary-color: rgb(110, 110, 255);
  --tertiary-color: rgb(255, 255, 110);
  --text-color: black;
}

.menu {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 80px;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.date-container h4 {
  margin-right: 20px;
  color: var(--text-color);
}

.date-picker {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 170px;
  height: 50px;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
}

.sectionTitle h2 {
  position: absolute;
}

.sectionTitle .item-container {
  margin-top: 50px;
  margin-left: 2.5vw;
  width: 30vw;
  height: 50vh;
  background-color: aliceblue;

  position: relative;
}

.item-image {
  max-width: 28vw;
  width: 28vw;
}

.submit-order {
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 150px;
  padding: 10px 20px;
  cursor: pointer;

  position: absolute;
  bottom: 10%;
  left: 25%;
}
