.itemPage {
  padding-top: 10vh;
  display: flex;
}

.imgGallery {
  display: flex;
  flex-direction: column;
  border: 0.001px solid black;
  width: 40vw;
  margin-left: 2vw;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  width: 40vw;
  margin-left: 2vw;
}

.imgContainers img {
  width: 500px;
  height: 400px;
}

.entries {
  display: flex;
  flex-direction: row;
  width: 500px;
  overflow-x: scroll;
  list-style: none;
  padding: 0;

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.imgContainers {
  scroll-snap-align: start;
}

.markers {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5em;

  width: 500px;

  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  padding: 0;
}

.thumbnail {
  width: 100px;
  height: 100px;
  filter: brightness(50%);
}

.submitOrder {
  color: white;
  background-color: rgb(255, 72, 72);
  border-radius: 25px;
  width: 150px;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.displayQuantity {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
  font-size: 20px;
  font-weight: 800;
}

.alertOnSubmit {
  border: 1px solid black;
  width: 15vw;
  padding: 1vh;
  text-align: center;

  position: absolute;
  top: 10vh;
  right: 3vw;

  opacity: 1;

  animation: alert 4s;
  scale: 100%;
}

.hidden {
  opacity: 0;
  position: absolute;
  top: 10vh;
  right: 3vw;
}

.relatedCarousel {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.otherItem {
  margin: 5px;
}

.otherItemImg {
  width: 100px;
  height: 100px;
}

@keyframes alert {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    opacity: 1;
    scale: 100%;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    scale: 30%;
    transform: translate(200px, -70px);
  }
}
