:root {
      --background-color: rgb(255, 255, 255);
      --secondary-background-color: rgba(167, 167, 167, 0.062);
      --primary-color: rgb(255, 110, 110);
      --secondary-color: rgb(110, 110, 255);
      --tertiary-color: rgb(255, 255, 110);
      --text-color: black;
}

.navbar {
  background-color: var(--secondary-background-color);
  height:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100vw;

  

}

.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px 100px;
  position: relative;
  
}

.nav-links .name {
  font-family: 'Source Code Pro', monospace;
  font-family: 'Permanent Marker', cursive;
  color: var(--tertiary-color);

  text-shadow: 
    -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000, /* Top-right shadow */
    -1px 1px 0 #000, /* Bottom-left shadow */
    1px 1px 0 #000; /* Bottom-right shadow */
}

.name .AL {
  color: var(--primary-color);
}
.name .FE {
  color: var(--secondary-color);
}

.nav-links i {
  scale: 130%;
}

.nav-links .quantity {
  position: absolute;
  background: red;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  top: -12px;
  left: 65%;
  padding: 2px 8px;
}

@media screen and (max-width: 500px) {
  .navbar {
  background-color: var(--secondary-background-color);
  height:85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 100vw; 

}

  .nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0px 50px;
  position: relative;
  
  }

  .nav-links i {
  scale: 130%;
  }

  .nav-links .quantity {
    position: absolute;
    background: red;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    top: -12px;
    left: 65%;
    padding: 2px 8px;
  }

}
