.navbar {
  background: linear-gradient(90deg, rgb(59, 59, 59) 0%, rgb(46, 46, 46) 100%);
  height: calc(70px + 5vmin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(8px + 2vmin);
  width: 100vw;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0px 10vw;
  position: relative;
}

.nav-links i {
  scale: 150%;
}

.nav-links .quantity {
  position: absolute;
  background: red;
  border-radius: 50%;
  color: #fff;
  top: -15px;
  left: 65%;
  padding: 3px 10px;
}

@media screen and (max-width: 960px) {
  .nav-links .quantity {
    position: absolute;
    background: red;
    border-radius: 50%;
    color: #fff;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
  }

  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0px 100px;
    position: relative;
  }

}
